<div class="container is-flex is-flex-direction-column is-align-items-center p-5">
  <%= render "shared/link" %>
  <div class="columns mt-1">
    <div class="column">
      <div class="box p-6">
        <%= form_with(url: flights_path, method: "get") do %>
          <div class="select is-rounded"><%= select_tag(:departure_airport, options_for_select(@departure_airports.uniq, params[:departure_airport])) %></div>
          <div class="select is-rounded"><%= select_tag(:arrival_airport, options_for_select(@arrival_airports.uniq, params[:arrival_airport])) %></div>
          <div class="select is-rounded"><%= select_tag(:number_of_passengers, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]], params[:number_of_passengers])) %></div>
          <div class="select is-rounded"><%= select_tag(:flight_date, options_for_select(@flight_date.uniq, params[:flight_date])) %></div>
          <%= submit_tag("Search", class: "button is-rounded is-primary") %>
        <% end %>
      </div>
  
      <% if !@found_flights.empty? %>
        <%= form_with(url: new_booking_path, method: "get") do |form| %>
  
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">Available Flights:</div>
            </div>
            <% @found_flights.each do |flight| %>
              <div class="card-content mt-6">
                <%= form.radio_button :flight_id, flight.id, class: "radio" %>
                <%= form.label :flight, flight.display_info, class: "radio" %>
              </div>
              <%= form.hidden_field :number_of_passengers, value: params[:number_of_passengers] %>
            <% end %>
            <div class="card-content"><%= form.submit class: "button is-small is-rounded is-primary" %></div>
          </div>
  
        <% end %>
      <% elsif params[:flight_date].nil? %>
        <h2 class="is-size-5">Search a flight!</h2>
      <% else %>
        <h2 class="is-size-5">No flights found!</h2>
      <% end %>
    </div>
  
  </div>
  
</div>
