<h1>Flights</h1>

<%= form_with(url: flights_path, method: "get") do %>
  <%= select_tag(:departure_airport, options_for_select(@departure_airports.uniq)) %>
  <%= select_tag(:arrival_airport, options_for_select(@arrival_airports.uniq)) %>
  <%= select_tag(:number_of_passengers, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]])) %>
  <%= select_tag(:start_time, options_for_select(@start_time.uniq)) %>
  <%= submit_tag("Search") %>
<% end %>

<% unless @params_flights.empty? || params[:start_time].nil? %>
  <%= form_with(url: flights_path, method: "get") do |form| %>
    <% @params_flights.each do |flight| %>
      <br>
      <%= form.radio_button :flight, flight %>
      <%= form.label :flight, flight.display_info %>
    <% end %>
    <%= form.submit%>
    <%= params %>
  <% end %>
<% else %>
  <h2>No flights available :(</h2>
<% end %>