<div class="container is-flex is-flex-direction-column is-align-items-center p-5">
  <%= render "shared/link" %>
  <div class="card m-6">
    <div class="card-header">
      <div class="card-header-title">
        <%= "Your flight is #{@flight.start_and_finish} at #{@flight.pretty_time} on #{@flight.flight_date}" %>
      </div>
    </div>
  
    <div class="card-content">
      <%= form_with model: @booking, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
        Passengers:
        <%= form.hidden_field :flight_id, value: params[:flight_id] %>
        <%= form.hidden_field :num_pass, value: params[:number_of_passengers] %>
        <ul>
          <template data-nested-form-target="template">
            <%= form.fields_for :passengers do |pass_f| %>
              <div class="card_content mt-5 mb-3">
                <%= render "shared/form", f: pass_f %>
              </div>
            <% end %>
          </template>

          <%= form.fields_for :passengers do |pass_f| %>
            <div class="card_content mt-5 mb-3">
              <%= render "shared/form", f: pass_f %>
            </div>
          <% end %>

          <div data-nested-form-target="target"></div>
          <button type="button" data-action="nested-form#add">Add Passenger</button>
          
        </ul>
        <%= form.submit class: "button is-small is-rounded is-primary" %>
      <% end %>
    </div>
  </div>
</div>
